.reviewWritebackGround{
  background-color: rgb(249, 249, 249);
}

.reviewWritepageTitle{
  padding: 3vw 0;
  background-color: rgb(94, 94, 253);
  color: white;
  font-size: 2.5vw;
  height: 10vw;
}

.reviewWriteGridBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  padding-top: 2vw;
}



.reviewWriteImg{
  height: 30vw;
}

.reviewWriteImg img{
  width: 100%;
  height: 100%;
}

.reviewWriteinputBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
  border: 0.3vw solid rgb(94, 94, 253);
  border-radius: 0.4vw;
  background-color: white;
}


.reviewproductTtile{
  font-size: 2vw;
}

.reviewWriteinputGridBox{
  display:flex;
  justify-content:space-between;
  align-items: center;
  column-gap: 1vw;
  margin: 1vw 0;
}


.reviewTitleInput{
  width: 100%;
  height: 100%;
  padding: 0.5vw;
  font-size: 1.2vw;
  border-style: none;
  border: 1px solid black;
  border-radius: 0.4vw
}

.reviewWriteBtnBox{
  display: flex;
  justify-content: end;
}

.reviewWriteBtnBox a{
  text-decoration: none;
}

.reviewWriteBtnBox button{
  background-color: rgb(94, 94, 253);
  border-style: none;
  color: white;
  border-radius: 0.3vw;
  padding: 0.5vw 1vw;
  cursor: pointer;
  font-size: 1vw;
  transition: background-color 0.3s;
}

.reviewWriteBtnBox button:hover{
  background-color: rgb(66, 66, 255);
}



.reviewFormrating .star-rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 2.3vw;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.reviewFormrating .star-rating input {
  display: none;
}

.reviewFormrating .star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.reviewFormrating .star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.reviewFormrating .star-rating label:hover,
.reviewFormrating .star-rating label:hover ~ label {
  -webkit-text-fill-color: rgb(255, 238, 48)
}

.reviewFormcontent{
  width: 100%;
  height: 16vw;
  resize: none;
  padding: 0.5vw;
  font-size: 1.2vw;
  border-style: none;
  border: 1px solid black;
  border-radius: 0.4vw
}

.reviewWriteinput{
  height: 23vw;
}

.reviewWriteinput form{
  height: 100%;
}