.slick-list{
  height: 100%;
}

.slick-slider{
  height: 40vh;
  margin-bottom: 3vw;
}

.slick-track{
  height: 100%;
}

.slick-slide{
  height: 100%;
}

.slick-slide img{
  cursor: pointer;
}

.slick-slide div{
  height: 100%;
}

section div .slick-arrow{
  background-color: red;
  display: none !important;
}