.mainCategory {
  margin: 1vw 0;
}

.mainCategoryGridBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  padding: 1vw;
  margin: 0;
  background-color: white;
  border-radius: 0.2vw;
  box-shadow: 2px 2px 2px 2px;
  border: 1px solid rgb(202, 202, 202);
}

.mainCategoryGridBox li {
  margin: 0.5vw;
  padding: 1.5vw;
  cursor: pointer;
  border-radius: 0.5vw;
  transition: background-color 0.6s;
}

.mainCategoryGridBox li:hover {
  background: linear-gradient(45deg, rgb(94, 94, 253), rgb(154, 154, 247), rgb(94, 94, 253));
}

.mainCategoryGridBox li img {
  margin-bottom: 2vw;
  transition: transform 0.6s;
}

.mainCategoryGridBox li:hover img {
  transform: rotateY(180deg);
}

.mainCategoryGridBox p {
  margin: 0;
  font-size: 1.5vw;
}

.mainCategoryGridBox li:hover p {
  color: white;
}

.mainCategoryGridBox li a {
  color: black;
  text-decoration: none;
}
