#edit_Table td{
  border-bottom: 1px solid #000;
  padding-top: 1%;
  padding-bottom: 1%;
}

.mylist_change > h3{
  padding-bottom: 3%;
}

#edit_table{
  width: 130%;
  margin-top: 100px;
}

.td_1{
  width: 15%;
}

.td_2{
  width: 70%;
}

.td_3{
  width: 20%;
}
.small_box{
  width: 10rem;
}


select.small_box{
  // width: 30%;
  margin-left: 2%;
  height: 30px;
}


.info#info__birth select::-webkit-scrollbar {
  width: 10px;
}

.info#info__birth select::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 3px;
}

.info#info__birth select::-webkit-scrollbar-track {
  background-color: #ebe9e9;
  border-radius: 6px;
}
.label_In_td{
  display: inline-block;
  width: 100%;
}



.radio_btn{
  padding-right: 1rem;
}
.span_pad{
  padding-left: 2%;
  padding-right: 5%;
}
.num_place{
  width: 70px;
}