table tr td{
  border: 1px solid #000;
}

#edit_table{
  width: 100%;
  
}

.td_1{
  width: 15%;
}

.td_2{
  width: 70%;
}

.td_3{
  width: 10%;
}


.small_box{
  width: 25%;
}

select.small_box{
  width: 30%;
  margin-left: 2%;
  height: 30px;
}

.radio_btn{
  padding-right: 1%;
}