.maincontent{
  display: grid;
  grid-template-columns: 1.3fr 8fr;
  padding: 3vw;
}

.mypage_menu{
  background-color: white;
  height: 100%;
  padding: 1.5vw;
}

.mypage_menu div{
  height: 100%;
  border-right: 2px solid black;
}

.mypage_menu nav ul{
  margin: 0;
  padding: 0;
}

.mypage_menu nav ul li{
  margin-bottom: 1vw;
}

.mypage_menu nav ul li a{
  text-decoration: none;
  color: black;
}



.mypage_info{
  padding: 1.5vw;
  background-color: white;
}

.mypage_info_title{
  padding: 0 1vw;
  font-size: 2vw;
}

.user_profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: 0.4vw solid black;
  margin: 1vw 0 1vw 1vw;
}

.user_profile i{
  font-size: 4vw;
}

.mylist{
  margin-bottom: 2vw;
  padding: 0 1vw 1vw 1vw;
  font-size: 1.5vw;
}

.giveUpBox{
  border-top: 0.2vw solid rgba(128, 128, 128, 0.262);
  padding-top: 1vw;
}



