.KJH_rv_container {
  border-radius: 5px;
  margin-top: 1vw;
  height: auto;
  padding: 1.5vw 3vw;
  background-color: #fffff0;
  min-width: 76.5vw;
  max-width: 76.5vw;
}

.KJH_rv_title {
  border-bottom: 0.5vw solid black;
  font-size: 2vw;
  padding-bottom: 1vw;
}

.KJH_rv_info_map {
  display: flex;
  padding: 1vw 2vw;
  margin-top: 1vw;
  border: 0.2vw solid black;
  border-radius: 10px;
  min-width: 70vw;
  max-width: 70vw;
}
.KJH_rv_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.KJH_rv_image > img {
  min-width: 9vw;
  max-width: 9vw;
}

.KJH_rv_content_section {
  flex-grow: 1;
}

.KJH_rv_content_create {
  padding-bottom: 0.5vw;
  margin-bottom: 1vw;
  border-bottom: 0.2px solid black;
}

.KJH_rv_content_review {
  width: 100%;
  padding: 0.5vw 1vw;
  border: 0.15vw solid black;
  border-radius: 0.5vw;
}

.KJH_rv_container > button {
  margin: 1vw 2vw 0 0;
  padding: 0.3vw 1vw;
  font-size: 1vw;
  font-weight: bold;
  border-width: 0.5vw;
}