.footerBox {
  color: darkgray;
  padding-top: 2%;
  padding-left: 18%;
  padding-bottom: 2%;
}

#footer-copy > ul {
  padding: 0;
}

#footer-copy > ul > li {
  float: left;
  margin: 0;
}

#li1 {
padding-left: 0;
}

#li2 {
  padding-left: 5px;
}

#li3 {
  color: #767676;
  padding-left: 5px;
}

#li4 {
  padding-left: 5px;
}


#footer-copy > p {
  clear: both;
  color: #767676
}

#footer-address {
  clear: both;
}

#copyright {
  font-size: 13px;
}

#adminbutton > p{
  font-size: 15px;
  color: white;
}