
.Pushinquiry2_main{
  text-align: center;
}

.Pushinquiry2_main1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.Pushinquiry2_main2{
  border: 1px solid black;
  width: 1000px;
}

.inquiry1{
  display: flex;
  justify-content: center;
}


