/* 참고 페이지 주소
https://www.goodchoice.kr/product/search/2 */


/* ------- 섹션1 ------- */
.high {
  border-style: solid;
  border-width: 1px ;
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1;
}

.dropdown-content a{
  display : block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------- 섹션2 ------- */

.section-1 {
  width:  20%;
  float: left;
  border-style: solid;
  border-width: 1px ;
}

input {
  margin-top: 0.4rem;
}

/* ------- 섹션3 ------- */

.section-2 {
  width:  35%;
  float: right;
  border-style: solid;
  border-width: 1px ;
}

.hotel-1 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-2 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-3 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-4 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-5 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-6 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-7 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}
.hotel-8 {
  height: 250px;
  border-style: solid;
  border-width: 1px ;
}