.completepage{
  text-align: center;
}

.completepage img{
  width: 15%;
  margin: 1vw 0 0.5vw 0;
}

.completeMessage{
  font-size: 2vw;
}

.completepage a{
  text-decoration: none;
  color:rgb(94, 94, 253);
}