


.managermenu{
  width:  30%;
  height: 700px;
  float: left;
  border-style: solid;
  border-width: 2px ;
}

.managermenu button {
  display: flex;
}

/*대시보드 */

.board {
  width:  70%;
  height: 700px;
  border-style: solid;
  border-width: 2px ;
  float: right;
}