.managercontainer {
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  min-height: 70vh;
}

.managergirdbox{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1vw;
}

.managermenu{
  display: flex;
  flex-direction: column;
}