.dateBox{
  margin: 1vw 0;
}

.dateflexBox{
  display: flex;
  align-items: center;
}

.dateflexBox span{
  font-size: 1.5vw;
}


.react-datepicker__input-container input{
  font-size: 1.5vw;
  border-radius: 0.2vw;
  padding:0 0.5vw;
  margin-right: 1vw;
}