.dateBox{
  margin: 1vw 0;
}

.dateflexBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateflexBox2{
  display: flex;
  align-items: center;
}

.dateslash{
  font-size: 2vw;
  margin: 0 1vw;
}

.dateflexBox span{
  font-size: 1.5vw;
}


.react-datepicker__input-container input{
  font-size: 1.5vw;
  border-radius: 0.2vw;
  padding:0 0.5vw;
  text-align: center;
}